p { 
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 10
}

h3 {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 15
}

h5 {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 13
}

h6 {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 12
}