* {
  font-family: "New Century Schoolbook", Palatino, serif;
  padding-left: 20px;
}

#banner {
  text-align: center;
  font-size: 180%;
}

#contents {
  text-decoration: none;
}

p { 
  font-size: 100%;
}

h3 {
  font-size: 160%;
}

h5 {
  font-size: 140%;
}

h6 {
  font-size: 130%;
}