* {
 font-family: 'Bitter', serif;
}

header {
  text-align: center;
 }
 
nav {
  text-align: center;
 }
 
nav a:link, nav a:visited {
  colour: black;
  text-decoration: none; 
 }
 
nav a:active, nac a:hover {
  color: #878787;
  text-decoration: none;
 }