* {
 font-family: 'Bitter', serif;
}

nav {
  text-align: center;
 }
 
 nav a:link, nav a:visited, nav a:focus {
  color: black;
  text-decoration: none; 
 }
 
nav a:active, nav a:hover {
  color: #878787;
  text-decoration: none;
 }
 
h3 {
  text-align: center;